.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    font-size: 1.2rem;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}

.nav-container {
    flex: 1;
}

.navbar-logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.menu {
    flex: 1;
    justify-content: right;
}

.menu-icon {
    display: none;
}

.icon-home {
    font-size: 3rem;
}

.home-logo {
    color: white;
    margin-left: 8px;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.nav-links:hover {
    border-bottom: 2px solid white;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;

    text-align: center;
    width: 60;
    list-style: none;
    margin-right: 2rem;
}

.nav-links-mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-links {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: white;
        height: 80px;

    }

    .nav-item {
        height: 80px;
    }

    .nav-links:hover {
        background-color: white;
        color: #242424;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 90vw;
        position: absolute;
        text-align: center;
        left: -100%;
        padding: 0px;
        top: 50px;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 70%);
        font-size: 1.7rem;
        cursor: pointer;
    }

    .nav-menu.active {
        background: rgba(0, 0, 0, 0.9);
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        border-radius: 4px;
        font-size: 1.5rem;
        margin: 0px 24px;
        color: white;
        text-decoration: none;
        background-color: transparent;
        padding: 14px 20px;
        border: 1px solid white;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
        border-radius: 4px;

    }
}